.box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: relative; */
    padding-top: 14%;
}

.answer {
    background-color: rgba(0, 0, 0, 0.2);
    color:rgba(0, 0, 0);
    /* width: 1200px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.question {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    padding: 5px;
    margin-bottom: 6px;
    border: 50px;
    border-color: black;
}