.box {
    /* flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    height: 100%;
    width: 100%;
}

.answer {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 60%;
}

.question {
    background-color: rgb(141, 214, 240, 0.9);
    color: rgb(0, 0, 0);
    font-size: 24px;
    max-width: 50%;
    padding: 10px 15px;
    margin-left: -40px;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 16%;
    text-align: center;
}

.Standart{
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text {
    align-self: center;
    font-size: 24px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(141, 214, 240, 0.7);
    border-radius: 20px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.Centers {
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    width: 80%;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.Order {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.OrderBlock{
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-self: center;
    height: 100%;
} 

.backName {
    background-color: rgba(232, 240, 254);
    padding: 20px;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 6px;
}

.standartposition {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FirstPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.EndPage{
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center;
    overflow: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}